replicaCount: 1

image:
  repository: lorenzotomo/flask-hello-world
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false
  host: ""
  annotations: {}

podAnnotations: {}
podLabels: {}
podSecurityContext: {}

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

